#logo {

}

.navigation {
    display: inline-block;
}
.header {
}
.header,
.first-section {
    background-color: #1F2937;
    color: white;
}

.second-section {
    background-color: white;
}

.third-section {
    background-color: #E5E7EB;
}

.fourth-section {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
}
